<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <bean id="robot" class="com.simple.spring.ioc.RobotPOJO" />

    <bean id="helloWorldService" class="com.simple.spring.ioc.HelloWorldServiceImpl">
        <property name="worldName" value="THE FIRST WORLD!"></property> 
    	<property name = "robot" ref="robot"></property> 
    </bean>

    <!--相当于<aop:aspectj-autoproxy/>-->
    <bean id="autoProxyCreator" class="com.simple.spring.aop.AspectJAwareAdvisorAutoProxyCreator"></bean>

    <!--定义一个切面-->
    <bean id="aspectjAspect" class="com.simple.spring.aop.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="timeInterceptor"></property>
        <!-- 通过setExpression()的setter方法注入，如果没有相应的setter方法，则直接赋值-->
        <property name="expression" value="execution(* com.simple.spring.ioc.*.*(..))"></property>
    </bean>
    <!--切面的一个属性-->
    <bean id="timeInterceptor" class="com.simple.spring.aop.TimerInterceptor"></bean>
</beans>